.advantages__item_title {
    margin-top: 45px;
    margin-left: 25px;
}

@media screen and (max-width: 920px) {
    .advantages__item_title {
        margin-top: 20px;
        margin-bottom: 0;
    }    
}

@media screen and (max-width: 650px) {
    .advantages__item_title {
        margin-top: 30px;
        margin-bottom: 0;
    }    
}